.bgimg {
    background-image: url("https://source.unsplash.com/LAaSoL0LrYs/1920x1080");
    height: 100vh;
    min-height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}